<div id="header">
    <a style="display:inline-block;width:10vw;background-color:rgb(139, 199, 255);" href="/">Home Page</a>
    <a style="display:inline-block;width:10vw;background-color:rgb(139, 199, 255);" href="/about">About</a>
    <a style="display:inline-block;width:10vw;background-color:rgb(139, 199, 255);" href="/branches">Branches</a>
    <a style="display:inline-block;width:10vw;background-color:rgb(139, 199, 255);" href="/projects">Projects</a>
</div>